In [14]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path = 'data/Top_rated_movies1.csv'
df= pd.read_csv(path)
df.head()

,id,title,overview,popularity,release_date,vote_average,vote_count
0,168705,BloodRayne,"In 18th-century Romania, after spending much o...",17.499,2005-10-22,4.105,501
1,19766,Inspector Gadget 2,"After capturing Claw, all the criminals have g...",20.772,2003-03-11,4.100,342
2,248705,The Visitors: Bastille Day,"Stuck in the corridors of time, Godefroy de Mo...",18.828,2016-03-23,4.090,636
3,17711,The Adventures of Rocky & Bullwinkle,Rocky and Bullwinkle have been living off the ...,16.436,2000-06-30,4.075,335
4,580,Jaws: The Revenge,"After another deadly shark attack, Ellen Brody...",30.996,1987-07-17,4.064,931

In [8]:
df.describe

<bound method NDFrame.describe of           id                                 title  \
0     168705                            BloodRayne
1      19766                    Inspector Gadget 2
2     248705            The Visitors: Bastille Day
3      17711  The Adventures of Rocky & Bullwinkle
4        580                     Jaws: The Revenge
...      ...                                   ...
8826   12142                     Alone in the Dark
8827    5491                     Battlefield Earth
8828   11059                     House of the Dead
8829   14164                  Dragonball Evolution
8830   40016            Birdemic: Shock and Terror

                                               overview  popularity  \
0     In 18th-century Romania, after spending much o...      17.499
1     After capturing Claw, all the criminals have g...      20.772
2     Stuck in the corridors of time, Godefroy de Mo...      18.828
3     Rocky and Bullwinkle have been living off the ...      16.436
4     After another deadly shark attack, Ellen Brody...      30.996
...                                                 ...         ...
8826  Edward Carnby is a private investigator specia...      12.499
8827  In the year 3000, man is no match for the Psyc...      19.133
8828  Set on an island off the coast, a techno rave ...      10.795
8829  On his 18th birthday, Goku receives a mystical...      38.646
8830  A platoon of eagles and vultures attacks the r...      13.853

     release_date  vote_average  vote_count
0      2005-10-22         4.105         501
1      2003-03-11         4.100         342
2      2016-03-23         4.090         636
3      2000-06-30         4.075         335
4      1987-07-17         4.064         931
...           ...           ...         ...
8826   2005-01-28         3.228         550
8827   2000-05-12         3.221         761
8828   2003-04-11         3.100         359
8829   2009-03-12         2.891        1925
8830   2010-02-27         2.106         306

[8831 rows x 7 columns]>

In [ ]:
## python word cloud (isse ) words ka pta kr sakte h kitti har aaya

In [11]:
path = 'data/Top_rated_movies1.csv'
df= pd.read_csv(path,parse_dates=['release_date'])
df.head()

,id,title,overview,popularity,release_date,vote_average,vote_count
0,168705,BloodRayne,"In 18th-century Romania, after spending much o...",17.499,2005-10-22,4.105,501
1,19766,Inspector Gadget 2,"After capturing Claw, all the criminals have g...",20.772,2003-03-11,4.100,342
2,248705,The Visitors: Bastille Day,"Stuck in the corridors of time, Godefroy de Mo...",18.828,2016-03-23,4.090,636
3,17711,The Adventures of Rocky & Bullwinkle,Rocky and Bullwinkle have been living off the ...,16.436,2000-06-30,4.075,335
4,580,Jaws: The Revenge,"After another deadly shark attack, Ellen Brody...",30.996,1987-07-17,4.064,931

In [13]:
df.nunique()

id              8811
title           8514
overview        8807
popularity      7971
release_date    5635
vote_average    2922
vote_count      3339
dtype: int64

In [15]:
df.drop(columns='id',inplace=True)

In [17]:
df.title.value_counts()[:100]

title
Return                  5
Pinocchio               4
Beauty and the Beast    4
Taxi                    4
King Kong               3
                       ..
The Three Musketeers    2
The Pink Panther        2
Planet of the Apes      2
Metropolis              2
RoboCop                 2
Name: count, Length: 100, dtype: int64

In [18]:
df.title.value_counts()

title
Return                        5
Pinocchio                     4
Beauty and the Beast          4
Taxi                          4
King Kong                     3
                             ..
The Andromeda Strain          1
Love Don't Co$t a Thing       1
Radio Days                    1
The Report                    1
Birdemic: Shock and Terror    1
Name: count, Length: 8514, dtype: int64

In [ ]:
## best movies , top reated movies,worst movies